* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #948E99;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2E1437, #948E99);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2E1437, #948E99);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.box {
    margin: 2.5% auto;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(33, 1fr);
    grid-template-rows: repeat(19, 1fr);
    transform-style: preserve-3d;

}

.box>div {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
    animation: para 1.5s linear infinite 1s alternate;
}

@keyframes para {
    0% {
        transform: scale3d(1, 1, 1);
    }

    40% {
        transform: scale3d(1, 1, 1);
    }

    70% {
        transform: scale3d(0.5, 0.5, 0.5);
    }

    100% {
        transform: scale3d(0.1, 0.1, 0.1);
    }
}

.box>div:nth-of-type(27),
.box>div:nth-of-type(28),
.box>div:nth-of-type(61),
.box>div:nth-of-type(62),
.box>div:nth-of-type(63),
.box>div:nth-of-type(95),
.box>div:nth-of-type(96),
.box>div:nth-of-type(128),
.box>div:nth-of-type(234),
.box>div:nth-of-type(235),
.box>div:nth-of-type(236),
.box>div:nth-of-type(238),
.box>div:nth-of-type(239),
.box>div:nth-of-type(240),
.box>div:nth-of-type(267),
.box>div:nth-of-type(268),
.box>div:nth-of-type(269),
.box>div:nth-of-type(270),
.box>div:nth-of-type(271),
.box>div:nth-of-type(272),
.box>div:nth-of-type(273),
.box>div:nth-of-type(302),
.box>div:nth-of-type(303),
.box>div:nth-of-type(304) {
    background: rgb(243, 212, 179);
}

.box>div:nth-of-type(102),
.box>div:nth-of-type(108),
.box>div:nth-of-type(202),
.box>div:nth-of-type(206),
.box>div:nth-of-type(237) {
    background: black;
}

.box>div:nth-of-type(35),
.box>div:nth-of-type(43),
.box>div:nth-of-type(68),
.box>div:nth-of-type(69),
.box>div:nth-of-type(75),
.box>div:nth-of-type(76),
.box>div:nth-of-type(97),
.box>div:nth-of-type(101),
.box>div:nth-of-type(103),
.box>div:nth-of-type(104),
.box>div:nth-of-type(105),
.box>div:nth-of-type(106),
.box>div:nth-of-type(107),
.box>div:nth-of-type(109),
.box>div:nth-of-type(129),
.box>div:nth-of-type(130),
.box>div:nth-of-type(131),
.box>div:nth-of-type(134),
.box>div:nth-of-type(135),
.box>div:nth-of-type(136),
.box>div:nth-of-type(137),
.box>div:nth-of-type(138),
.box>div:nth-of-type(139),
.box>div:nth-of-type(140),
.box>div:nth-of-type(141),
.box>div:nth-of-type(142),
.box>div:nth-of-type(162),
.box>div:nth-of-type(163),
.box>div:nth-of-type(164),
.box>div:nth-of-type(167),
.box>div:nth-of-type(168),
.box>div:nth-of-type(169),
.box>div:nth-of-type(170),
.box>div:nth-of-type(171),
.box>div:nth-of-type(172),
.box>div:nth-of-type(173),
.box>div:nth-of-type(174),
.box>div:nth-of-type(175),
.box>div:nth-of-type(192),
.box>div:nth-of-type(193),
.box>div:nth-of-type(194),
.box>div:nth-of-type(195),
.box>div:nth-of-type(196),
.box>div:nth-of-type(197),
.box>div:nth-of-type(200),
.box>div:nth-of-type(201),
.box>div:nth-of-type(203),
.box>div:nth-of-type(204),
.box>div:nth-of-type(205),
.box>div:nth-of-type(207),
.box>div:nth-of-type(208),
.box>div:nth-of-type(209),
.box>div:nth-of-type(215),
.box>div:nth-of-type(216),
.box>div:nth-of-type(217),
.box>div:nth-of-type(218),
.box>div:nth-of-type(219),
.box>div:nth-of-type(224),
.box>div:nth-of-type(225),
.box>div:nth-of-type(226),
.box>div:nth-of-type(227),
.box>div:nth-of-type(228),
.box>div:nth-of-type(229),
.box>div:nth-of-type(230),
.box>div:nth-of-type(233),
.box>div:nth-of-type(241),
.box>div:nth-of-type(242),
.box>div:nth-of-type(243),
.box>div:nth-of-type(244),
.box>div:nth-of-type(245),
.box>div:nth-of-type(246),
.box>div:nth-of-type(247),
.box>div:nth-of-type(249),
.box>div:nth-of-type(248),
.box>div:nth-of-type(250),
.box>div:nth-of-type(251),
.box>div:nth-of-type(252),
.box>div:nth-of-type(253),
.box>div:nth-of-type(254),
.box>div:nth-of-type(256),
.box>div:nth-of-type(257),
.box>div:nth-of-type(258),
.box>div:nth-of-type(259),
.box>div:nth-of-type(260),
.box>div:nth-of-type(261),
.box>div:nth-of-type(262),
.box>div:nth-of-type(263),
.box>div:nth-of-type(274),
.box>div:nth-of-type(275),
.box>div:nth-of-type(276),
.box>div:nth-of-type(277),
.box>div:nth-of-type(278),
.box>div:nth-of-type(279),
.box>div:nth-of-type(280),
.box>div:nth-of-type(281),
.box>div:nth-of-type(282),
.box>div:nth-of-type(283),
.box>div:nth-of-type(284),
.box>div:nth-of-type(285),
.box>div:nth-of-type(286),
.box>div:nth-of-type(287),
.box>div:nth-of-type(289),
.box>div:nth-of-type(290),
.box>div:nth-of-type(291),
.box>div:nth-of-type(292),
.box>div:nth-of-type(293),
.box>div:nth-of-type(294),
.box>div:nth-of-type(295),
.box>div:nth-of-type(296),
.box>div:nth-of-type(301),
.box>div:nth-of-type(305),
.box>div:nth-of-type(306),
.box>div:nth-of-type(307),
.box>div:nth-of-type(308),
.box>div:nth-of-type(309),
.box>div:nth-of-type(310),
.box>div:nth-of-type(311),
.box>div:nth-of-type(312),
.box>div:nth-of-type(313),
.box>div:nth-of-type(314),
.box>div:nth-of-type(315),
.box>div:nth-of-type(316),
.box>div:nth-of-type(317),
.box>div:nth-of-type(318),
.box>div:nth-of-type(319),
.box>div:nth-of-type(320),
.box>div:nth-of-type(321),
.box>div:nth-of-type(322),
.box>div:nth-of-type(323),
.box>div:nth-of-type(324),
.box>div:nth-of-type(325),
.box>div:nth-of-type(326),
.box>div:nth-of-type(327),
.box>div:nth-of-type(328),
.box>div:nth-of-type(329),
.box>div:nth-of-type(335),
.box>div:nth-of-type(336),
.box>div:nth-of-type(337),
.box>div:nth-of-type(338),
.box>div:nth-of-type(339),
.box>div:nth-of-type(340),
.box>div:nth-of-type(341),
.box>div:nth-of-type(342),
.box>div:nth-of-type(343),
.box>div:nth-of-type(344),
.box>div:nth-of-type(345),
.box>div:nth-of-type(346),
.box>div:nth-of-type(347),
.box>div:nth-of-type(348),
.box>div:nth-of-type(349),
.box>div:nth-of-type(350),
.box>div:nth-of-type(351),
.box>div:nth-of-type(352),
.box>div:nth-of-type(353),
.box>div:nth-of-type(354),
.box>div:nth-of-type(355),
.box>div:nth-of-type(356),
.box>div:nth-of-type(357),
.box>div:nth-of-type(358),
.box>div:nth-of-type(359),
.box>div:nth-of-type(360),
.box>div:nth-of-type(361),
.box>div:nth-of-type(369),
.box>div:nth-of-type(370),
.box>div:nth-of-type(371),
.box>div:nth-of-type(372),
.box>div:nth-of-type(373),
.box>div:nth-of-type(374),
.box>div:nth-of-type(375),
.box>div:nth-of-type(376),
.box>div:nth-of-type(377),
.box>div:nth-of-type(378),
.box>div:nth-of-type(379),
.box>div:nth-of-type(380),
.box>div:nth-of-type(381),
.box>div:nth-of-type(382),
.box>div:nth-of-type(383),
.box>div:nth-of-type(384),
.box>div:nth-of-type(385),
.box>div:nth-of-type(386),
.box>div:nth-of-type(387),
.box>div:nth-of-type(388),
.box>div:nth-of-type(389),
.box>div:nth-of-type(390),
.box>div:nth-of-type(391),
.box>div:nth-of-type(392),
.box>div:nth-of-type(393),
.box>div:nth-of-type(402),
.box>div:nth-of-type(403),
.box>div:nth-of-type(404),
.box>div:nth-of-type(405),
.box>div:nth-of-type(406),
.box>div:nth-of-type(407),
.box>div:nth-of-type(408),
.box>div:nth-of-type(409),
.box>div:nth-of-type(410),
.box>div:nth-of-type(411),
.box>div:nth-of-type(412),
.box>div:nth-of-type(413),
.box>div:nth-of-type(414),
.box>div:nth-of-type(415),
.box>div:nth-of-type(416),
.box>div:nth-of-type(417),
.box>div:nth-of-type(418),
.box>div:nth-of-type(419),
.box>div:nth-of-type(420),
.box>div:nth-of-type(421),
.box>div:nth-of-type(435),
.box>div:nth-of-type(436),
.box>div:nth-of-type(437),
.box>div:nth-of-type(438),
.box>div:nth-of-type(439),
.box>div:nth-of-type(440),
.box>div:nth-of-type(441),
.box>div:nth-of-type(442),
.box>div:nth-of-type(443),
.box>div:nth-of-type(444),
.box>div:nth-of-type(445),
.box>div:nth-of-type(446),
.box>div:nth-of-type(447),
.box>div:nth-of-type(448),
.box>div:nth-of-type(449),
.box>div:nth-of-type(450),
.box>div:nth-of-type(451),
.box>div:nth-of-type(452),
.box>div:nth-of-type(453),
.box>div:nth-of-type(468),
.box>div:nth-of-type(467),
.box>div:nth-of-type(470),
.box>div:nth-of-type(471),
.box>div:nth-of-type(472),
.box>div:nth-of-type(473),
.box>div:nth-of-type(474),
.box>div:nth-of-type(475),
.box>div:nth-of-type(476),
.box>div:nth-of-type(477),
.box>div:nth-of-type(478),
.box>div:nth-of-type(479),
.box>div:nth-of-type(480),
.box>div:nth-of-type(481),
.box>div:nth-of-type(482),
.box>div:nth-of-type(483),
.box>div:nth-of-type(484),
.box>div:nth-of-type(485),
.box>div:nth-of-type(486),
.box>div:nth-of-type(499),
.box>div:nth-of-type(500),
.box>div:nth-of-type(504),
.box>div:nth-of-type(505),
.box>div:nth-of-type(510),
.box>div:nth-of-type(511),
.box>div:nth-of-type(512),
.box>div:nth-of-type(513),
.box>div:nth-of-type(514),
.box>div:nth-of-type(515),
.box>div:nth-of-type(516),
.box>div:nth-of-type(517),
.box>div:nth-of-type(518),
.box>div:nth-of-type(531),
.box>div:nth-of-type(532),
.box>div:nth-of-type(537),
.box>div:nth-of-type(536),
.box>div:nth-of-type(545),
.box>div:nth-of-type(546),
.box>div:nth-of-type(550),
.box>div:nth-of-type(549),
.box>div:nth-of-type(568),
.box>div:nth-of-type(569),
.box>div:nth-of-type(577),
.box>div:nth-of-type(578),
.box>div:nth-of-type(582),
.box>div:nth-of-type(600),
.box>div:nth-of-type(601),
.box>div:nth-of-type(609),
.box>div:nth-of-type(610),
.box>div:nth-of-type(614),
.box>div:nth-of-type(615) {
    background: orangered;
}